@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');



body{
    font-family: 'Poppins','sans-serif';
}

/* LIGHT MODE: custom arrows */
html[data-theme='light'] .slick-prev:before,
html[data-theme='light'] .slick-next:before {
  color: #333; /* darker arrow color */
  
}

/* OPTIONAL: improve hover effect */
html[data-theme='light'] .slick-prev:hover:before,
html[data-theme='light'] .slick-next:hover:before {
  background-color: rgba(0, 0, 0, 0.2);
}
